.expensesPage {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.left {
  direction: ltr;
}

.CategoryRowLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.SumRowLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* --- TRANSACTION ROWS --- */

.transactionRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-wrap: wrap;
  padding-right: 3.5rem;
}

.transactionRow > h5 {
  width: 7rem;
  text-align: center;
}

/* --- CATEGORY ROWS --- */

.categoryHeader {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
}

.categoryIcon {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 1.5rem;
}

.CategoryRowWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
